<div class="main-content">
        <div class="container-fluid">



              <!-- edit form start -->
        <div class="row">
                <div class="col-sm-12">
                    <div class="card panel-bd lobidrag">
                        <div class="card-header">
                            <div class="panel-title">
                                <h4>Supplier Edit </h4>
                            </div>
                        </div>
                       <form action="https://pharmacyv5.bdtask.com/pharmacare_v9.2_demo/Csupplier/supplier_update" id="supplier_update" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                        <div class="card-body">
    
                            <div class="form-group row">
                                <label for="supplier_name" class="col-sm-3 col-form-label">Supplier Name <i class="text-danger">*</i></label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="supplier_name" id="supplier_name" type="text" value="Mr Sabuj" placeholder="Supplier Name" required="" tabindex="1" autocomplete="off">
                                    <input type="hidden" name="oldname" value="Mr Sabuj" autocomplete="off">
                                </div>
                            </div>
    
                               <div class="form-group row">
                                <label for="mobile" class="col-sm-3 col-form-label">Supplier Mobile <i class="text-danger">*</i></label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="mobile" id="mobile" type="number" placeholder="Supplier Mobile" value="" required="" min="0" tabindex="2" autocomplete="off">
                                </div>
                            </div>
       
                            <div class="form-group row">
                                <label for="address " class="col-sm-3 col-form-label">Supplier Address</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" name="address" id="address " rows="3" placeholder="Supplier Address" tabindex="3" autocomplete="off"></textarea>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="details" class="col-sm-3 col-form-label">Supplier Details</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" name="details" id="details" rows="3" placeholder="Supplier Details" tabindex="4" autocomplete="off"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="supplier_id" value="DGYJH9GMAPJ6VOWUC7LN" autocomplete="off">
    
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-6">
                                   <input type="submit" id="add-supplier" class="btn btn-success btn-large" name="add-supplier" value="Save Changes" tabindex="5" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        </form>                </div>
                </div>
            </div>
        <!-- edit form end -->
        </div>
</div>