.col-form-label {
    color: black;
    font-weight: 600;
}
.card {

    box-shadow: none!important;
    border-radius: 0px!important;
}
.card .card-header {

    color: #374767;
    background-color: #fff;
    border-color: #e4e5e7;
    border-bottom: 1px solid #e4e5e7!important;
    font-weight: 600;
}
.card .card-header::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #37a000;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}