<div class="main-content">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="card panel-bd lobidrag">
                                <div class="card-header">
                                    <div class="panel-title">
                                        <h4>Add Purchase</h4>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                <form action="https://pharmacyv5.bdtask.com/pharmacare_v9.2_demo/Cpurchase/insert_purchase" class="form-vertical" id="insert_purchase" name="insert_purchase" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                    
            
                                    <div class="row" id="manufacturer_info">
                                        <div class="col-sm-6">
                                           <div class="form-group row">
                                                <label for="manufacturer_sss" class="col-sm-3 col-form-label">Manufacturer                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="manufacturer_id" id="manufacturer_id" class="form-control  select2-hidden-accessible" required="required" tabindex="-1" onchange="product_pur_or_list()" aria-hidden="true" autocomplete="off"> 
                                                      
            
                                                        <option value=""> Select Manufacturer</option>
                                                                                                    <option value="1">ACI HealthCare Limited</option>
                                                                                                    <option value="2">Acmunio International Ltd.</option>
                                                                                                    <option value="3">Active Fine Chemicals Ltd.</option>
                                                                                                    <option value="4">Beximco Pharma Ltd.</option>
                                                                                                    <option value="5">Ad-din Pharmaceuticals Ltd.</option>
                                                                                                    <option value="6">Easy Globe Pharmaceuticals Ltd.</option>
                                                                                                    <option value="7">popular Ltd</option>
                                                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 359px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="1" aria-labelledby="select2-manufacturer_id-container"><span class="select2-selection__rendered" id="select2-manufacturer_id-container"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
            
                                               
                                            </div> 
                                        </div>
            
                                         <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="date" class="col-sm-4 col-form-label">Purchase Date                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-8">
                                                                                            <input type="text" tabindex="2" class="form-control datepicker hasDatepicker" name="purchase_date" value="2020-06-21" id="purdate" required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="invoice_no" class="col-sm-3 col-form-label">Invoice No                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" tabindex="3" class="form-control" name="chalan_no" placeholder="Invoice No" id="invoice_no" required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-sm-6">
                                           <div class="form-group row">
                                                <label for="adress" class="col-sm-4 col-form-label">Details                                    </label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" tabindex="4" id="adress" name="purchase_details" placeholder=" Details" rows="1" autocomplete="off"></textarea>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-sm-6" id="payment_from_1">
                                            <div class="form-group row">
                                                <label for="payment_type" class="col-sm-3 col-form-label">Payment Type <i class="text-danger">*</i></label>
                                                <div class="col-sm-9">
                                                    <select name="paytype" class="form-control select2-hidden-accessible" required="" onchange="bank_paymet(this.value)" tabindex="-1" aria-hidden="true" autocomplete="off">
                                                        <option value="1">Cash Payment</option>
                                                        <option value="2">Bank Payment</option>
                                                        <option value="3">Due Payment</option> 
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 359px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-paytype-ae-container"><span class="select2-selection__rendered" id="select2-paytype-ae-container" title="Cash Payment"><span class="select2-selection__clear">×</span>Cash Payment</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                  
            
                                                 
                                                </div>
                                             
                                            </div>
                                        </div>
                                         <div class="col-sm-6" id="bank_div" style="display: none;">
                                        <div class="form-group row">
                                            <label for="bank" class="col-sm-4 col-form-label">Bank <i class="text-danger">*</i></label>
                                            <div class="col-sm-8">
                                               <select name="bank_id" class="form-control select2-hidden-accessible" id="bank_id" tabindex="-1" aria-hidden="true" autocomplete="off">
                                                    <option value="">Select Location</option>
                                                                                                <option value="UXQV7V6U66">AB Bank</option>
                                                                                                <option value="7QHLEH2P6E">World Bank</option>
                                                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-bank_id-container"><span class="select2-selection__rendered" id="select2-bank_id-container"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                             
                                            </div>
                                         
                                        </div>
                                    </div>
                                    </div>
            
                                    <div class="table-responsive" style="margin-top: 10px">
                                        <table class="table table-bordered table-hover" id="purchaseTable">
                                            <thead>
                                                <tr>
                                                        <th class="text-center" width="20%">Item Information<i class="text-danger">*</i></th> 
                                                        <th class="text-center">Batch ID <i class="text-danger">*</i></th>
                                                         <th class="text-center">Expiry  date <i class="text-danger">*</i></th>
                                                        <th class="text-center">Stock/Qnt</th>
                                                        <th class="text-center">Quantity <i class="text-danger">*</i></th>
                                                        <th class="text-center">Manufacturer  Price<i class="text-danger">*</i></th>
                                                        <th class="text-center">Total</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                            </thead>
                                            <tbody id="addPurchaseItem">
                                                <tr>
                                                    <td class="span3 manufacturer">
                                                       <input type="text" name="product_name" required="" class="form-control product_name productSelection" onkeypress="product_pur_or_list(1);" placeholder="Medicine Name" id="product_name_1" tabindex="5" autocomplete="off">
            
                                                        <input type="hidden" class="autocomplete_hidden_value product_id_1" name="product_id[]" id="SchoolHiddenId" autocomplete="off">
            
                                                        <input type="hidden" class="sl" value="1" autocomplete="off">
                                                    </td>
                                                     <td>
                                                            <input type="text" name="batch_id[]" id="batch_id_1" class="form-control text-right" tabindex="6" placeholder="Batch ID" required="" autocomplete="off">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="expeire_date[]" id="expeire_date_1" class="form-control datepicker  hasDatepicker" tabindex="7" placeholder="Expiry  date" onchange="checkExpiredate(1)" required="" autocomplete="off">
                                                        </td>
            
                                                   <td class="wt">
                                                            <input type="text" id="available_quantity_1" class="form-control text-right stock_ctn_1" placeholder="0.00" readonly="" autocomplete="off">
                                                        </td>
                                                    
                                                        <td class="text-right">
                                                            <input type="text" name="product_quantity[]" id="quantity_1" class="form-control text-right store_cal_1" onkeyup="calculate_store(1),checkqty(1);" onchange="calculate_store(1);" placeholder="0.00" value="" min="0" tabindex="8" required="required" autocomplete="off">
                                                        </td>
                                                        <td class="test">
                                                            <input type="text" name="product_rate[]" onkeyup="calculate_store(1),checkqty(1);" onchange="calculate_store(1);" id="product_rate_1" class="form-control product_rate_1 text-right" placeholder="0.00" value="" min="0" tabindex="9" required="required" readonly="" autocomplete="off">
                                                        </td>
                                                       
            
                                                        <td class="text-right">
                                                            <input class="form-control total_price text-right" type="text" name="total_price[]" id="total_price_1" value="0.00" readonly="readonly" autocomplete="off">
                                                        </td>
                                                        <td>
            
                                                           
            
                                                            <button style="text-align: right;" class="btn btn-danger red" type="button" value="Delete" onclick="deleteRow(this)" tabindex="10" autocomplete="off">Delete</button>
                                                        </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="button" id="add_invoice_item" class="btn btn-info" name="add-invoice-item" onclick="addPurchaseOrderField1('addPurchaseItem');" value="Add New Item" tabindex="11" autocomplete="off">
            
                                                        <input type="hidden" name="baseUrl" class="baseUrl" value="https://pharmacyv5.bdtask.com/pharmacare_v9.2_demo/" autocomplete="off">
                                                    </td>
                                                    <td style="text-align:right;" colspan="4"><b>Grand Total:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="grandTotal" class="text-right form-control" name="grand_total_price" value="0.00" readonly="readonly" autocomplete="off">
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
            
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="submit" id="add_purchase" class="btn btn-primary btn-large" name="add-purchase" value="Submit" autocomplete="off">
                                          
                                        </div>
                                    </div>
                                </form>                    </div>
                            </div>
                        </div>
                 </div>
                 <!-- edit purchese start -->
                 <div class="row">
                        <div class="col-sm-12">
                            <div class="card panel-bd lobidrag">
                                <div class="card-header">
                                    <div class="panel-title">
                                        <h4>Add Purchase</h4>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                <form action="https://pharmacyv5.bdtask.com/pharmacare_v9.2_demo/Cpurchase/insert_purchase" class="form-vertical" id="insert_purchase" name="insert_purchase" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                    
            
                                    <div class="row" id="manufacturer_info">
                                        <div class="col-sm-6">
                                           <div class="form-group row">
                                                <label for="manufacturer_sss" class="col-sm-3 col-form-label">Manufacturer                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="manufacturer_id" id="manufacturer_id" class="form-control  select2-hidden-accessible" required="required" tabindex="-1" onchange="product_pur_or_list()" aria-hidden="true" autocomplete="off"> 
                                                      
            
                                                        <option value=""> Select Manufacturer</option>
                                                                                                    <option value="1">ACI HealthCare Limited</option>
                                                                                                    <option value="2">Acmunio International Ltd.</option>
                                                                                                    <option value="3">Active Fine Chemicals Ltd.</option>
                                                                                                    <option value="4">Beximco Pharma Ltd.</option>
                                                                                                    <option value="5">Ad-din Pharmaceuticals Ltd.</option>
                                                                                                    <option value="6">Easy Globe Pharmaceuticals Ltd.</option>
                                                                                                    <option value="7">popular Ltd</option>
                                                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 359px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="1" aria-labelledby="select2-manufacturer_id-container"><span class="select2-selection__rendered" id="select2-manufacturer_id-container"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
            
                                               
                                            </div> 
                                        </div>
            
                                         <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="date" class="col-sm-4 col-form-label">Purchase Date                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-8">
                                                                                            <input type="text" tabindex="2" class="form-control datepicker hasDatepicker" name="purchase_date" value="2020-06-21" id="purdate" required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="invoice_no" class="col-sm-3 col-form-label">Invoice No                                        <i class="text-danger">*</i>
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" tabindex="3" class="form-control" name="chalan_no" placeholder="Invoice No" id="invoice_no" required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-sm-6">
                                           <div class="form-group row">
                                                <label for="adress" class="col-sm-4 col-form-label">Details                                    </label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" tabindex="4" id="adress" name="purchase_details" placeholder=" Details" rows="1" autocomplete="off"></textarea>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-sm-6" id="payment_from_1">
                                            <div class="form-group row">
                                                <label for="payment_type" class="col-sm-3 col-form-label">Payment Type <i class="text-danger">*</i></label>
                                                <div class="col-sm-9">
                                                    <select name="paytype" class="form-control select2-hidden-accessible" required="" onchange="bank_paymet(this.value)" tabindex="-1" aria-hidden="true" autocomplete="off">
                                                        <option value="1">Cash Payment</option>
                                                        <option value="2">Bank Payment</option>
                                                        <option value="3">Due Payment</option> 
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 359px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-paytype-ae-container"><span class="select2-selection__rendered" id="select2-paytype-ae-container" title="Cash Payment"><span class="select2-selection__clear">×</span>Cash Payment</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                  
            
                                                 
                                                </div>
                                             
                                            </div>
                                        </div>
                                         <div class="col-sm-6" id="bank_div" style="display: none;">
                                        <div class="form-group row">
                                            <label for="bank" class="col-sm-4 col-form-label">Bank <i class="text-danger">*</i></label>
                                            <div class="col-sm-8">
                                               <select name="bank_id" class="form-control select2-hidden-accessible" id="bank_id" tabindex="-1" aria-hidden="true" autocomplete="off">
                                                    <option value="">Select Location</option>
                                                                                                <option value="UXQV7V6U66">AB Bank</option>
                                                                                                <option value="7QHLEH2P6E">World Bank</option>
                                                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-bank_id-container"><span class="select2-selection__rendered" id="select2-bank_id-container"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                             
                                            </div>
                                         
                                        </div>
                                    </div>
                                    </div>
            
                                    <div class="table-responsive" style="margin-top: 10px">
                                        <table class="table table-bordered table-hover" id="purchaseTable">
                                            <thead>
                                                <tr>
                                                        <th class="text-center" width="20%">Item Information<i class="text-danger">*</i></th> 
                                                        <th class="text-center">Batch ID <i class="text-danger">*</i></th>
                                                         <th class="text-center">Expiry  date <i class="text-danger">*</i></th>
                                                        <th class="text-center">Stock/Qnt</th>
                                                        <th class="text-center">Quantity <i class="text-danger">*</i></th>
                                                        <th class="text-center">Manufacturer  Price<i class="text-danger">*</i></th>
                                                        <th class="text-center">Total</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                            </thead>
                                            <tbody id="addPurchaseItem">
                                                <tr>
                                                    <td class="span3 manufacturer">
                                                       <input type="text" name="product_name" required="" class="form-control product_name productSelection" onkeypress="product_pur_or_list(1);" placeholder="Medicine Name" id="product_name_1" tabindex="5" autocomplete="off">
            
                                                        <input type="hidden" class="autocomplete_hidden_value product_id_1" name="product_id[]" id="SchoolHiddenId" autocomplete="off">
            
                                                        <input type="hidden" class="sl" value="1" autocomplete="off">
                                                    </td>
                                                     <td>
                                                            <input type="text" name="batch_id[]" id="batch_id_1" class="form-control text-right" tabindex="6" placeholder="Batch ID" required="" autocomplete="off">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="expeire_date[]" id="expeire_date_1" class="form-control datepicker  hasDatepicker" tabindex="7" placeholder="Expiry  date" onchange="checkExpiredate(1)" required="" autocomplete="off">
                                                        </td>
            
                                                   <td class="wt">
                                                            <input type="text" id="available_quantity_1" class="form-control text-right stock_ctn_1" placeholder="0.00" readonly="" autocomplete="off">
                                                        </td>
                                                    
                                                        <td class="text-right">
                                                            <input type="text" name="product_quantity[]" id="quantity_1" class="form-control text-right store_cal_1" onkeyup="calculate_store(1),checkqty(1);" onchange="calculate_store(1);" placeholder="0.00" value="" min="0" tabindex="8" required="required" autocomplete="off">
                                                        </td>
                                                        <td class="test">
                                                            <input type="text" name="product_rate[]" onkeyup="calculate_store(1),checkqty(1);" onchange="calculate_store(1);" id="product_rate_1" class="form-control product_rate_1 text-right" placeholder="0.00" value="" min="0" tabindex="9" required="required" readonly="" autocomplete="off">
                                                        </td>
                                                       
            
                                                        <td class="text-right">
                                                            <input class="form-control total_price text-right" type="text" name="total_price[]" id="total_price_1" value="0.00" readonly="readonly" autocomplete="off">
                                                        </td>
                                                        <td>
            
                                                           
            
                                                            <button style="text-align: right;" class="btn btn-danger red" type="button" value="Delete" onclick="deleteRow(this)" tabindex="10" autocomplete="off">Delete</button>
                                                        </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="button" id="add_invoice_item" class="btn btn-info" name="add-invoice-item" onclick="addPurchaseOrderField1('addPurchaseItem');" value="Add New Item" tabindex="11" autocomplete="off">
            
                                                        <input type="hidden" name="baseUrl" class="baseUrl" value="https://pharmacyv5.bdtask.com/pharmacare_v9.2_demo/" autocomplete="off">
                                                    </td>
                                                    <td style="text-align:right;" colspan="4"><b>Grand Total:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="grandTotal" class="text-right form-control" name="grand_total_price" value="0.00" readonly="readonly" autocomplete="off">
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
            
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="submit" id="save_purchase" class="btn btn-primary btn-large" name="Save-purchase" value="Save Changes" autocomplete="off">
                                          
                                        </div>
                                    </div>
                                </form>                    </div>
                            </div>
                        </div>
                 </div>
                 <!-- edit purches end -->
        </div>
</div>
